@charset "UTF-8";
body {
  margin: 0 auto !importants;
  padding: 0;
  font-size: 16px;
  font-family: "Helvetica Neue";
  background-color: white;
}
/* [class*="inner"] {
  width: 1200px;
  margin: auto;
} */
.wrapper {
  width: 100%;
  padding: 0;
  border: 0;
}

body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  line-height: none;
  font-color: #00000;
}
