@import url(.styled.css);
//첫번째 화면

.main_one {
  width: 100%;
  height: 100vh;
  border: 2px solid black;
}

/* / 세션1 */
.main_one {
}

.content1 {
  display: flex;
  padding: 20px;
  align-items: center;
}
/* margin: auto; */

.newTitle-Wrapper {
  display: flex;
  gap: 600px;
  align-items: center;
}
.newsTitle {
  margin: 15px 20px;
  font-weight: bold;
  font-size: 27px;
}
.newsButton {
  padding-top: 40px;
  display: flex;
  justify-content: flex-end;
}
.tab-box {
  display: flex;
  position: relative;
  align-items: center;
}
.navbar {
  display: flex;
  width: 100%;
  margin: 10px;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.nav_left {
  display: flex;
  text-align: center;
  justify-content: center;
  list-style: none;
}
.main_logo {
  display: flex;
  align-items: center;
}
.main_logo h2 {
  font-size: 20px;
}
.nav_list {
  position: relative;
  padding: 20px;
  list-style: none;
  margin-right: 15px;
}
.nav_list ul {
  list-style: none;
  display: flex;
}

.nav_list li {
  margin-right: 15px;
  position: relative;
  right: 0;
}
.nav_list li > a {
  text-decoration: none;
  color: #8b949e;
  font-size: 14px;
  text-align: center;
}
.nav_list li > a:hover {
  color: black;
  opacity: 1;
  text-decoration: underline;
}

.categoryTab {
  width: 100%;
  height: 80px;
  position: sticky;
  left: 50%;
  top: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  max-width: 1920px;
  display: flex;
}
.categorys {
  margin: auto;
  padding: 0 40px;
}
.categorys ul {
  display: flex;
}
.categorys ul li {
  padding: 0 25px;
  line-height: 80px;
  font-size: 18px;
}
.categorys ul li a {
  text-decoration: none;
  color: black;
  opacity: 0.8;
}
.categorys ul li a:hover {
  color: #33353a;
  opacity: 0.7;
  padding-bottom: 10px;
  border-bottom: 1px solid silver;
}

.categoryTab .search {
  display: flex;
  align-items: center;
  margin-top: 10px;
  position: relative;
}

.categoryTab .search input {
  width: 36px;
  height: inherit;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  color: #777;
  font-size: 12px;
  transition: width 0.4s;
}

.categoryTab .search input:focus {
  width: 190px;
}
.categoryTab .search .material-icons {
  position: absolute;
  height: 24px;
  top: 0;
  right: 5px;
  bottom: 0;
  margin: auto;
  transition: 0.4s;
}
.categoryTab .search.focused .material-icons {
  opacity: 0;
}

.mainbanner {
  height: 300px;
  margin-bottom: 29px;
}
.main {
  height: 100%;
  /* width: 1200px; */
}

@media (max-width: 768px) {
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.swiper-container {
  color: none;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.swiper {
  margin-top: 10px;
}
.swiper-slide {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.swiper-slide img {
  width: 100%;
}
.swiper-wrapper {
  margin-bottom: 60px;
}
.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  top: auto !important;
  bottom: 0px !important;
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: transparent;
  border: 1px solid pink;
  opacity: 1;
  top: auto !important;
  bottom: 20px;
}
.swiper-pagination-bullet-active {
  width: 40px;
  transition: width 0.5s;
  border-radius: 5px;
  background: pink;
  border: 1px solid transparent;
}
.section1-content {
  border: 2px solid black;
  background-color: red;
  float: right;
}
