* {
  marginl: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Airal, "Helvetica Neue", Helvetica, Arial;
}

.footer-container {
  background-color: #212329;
  padding-bottom: 4rem 0 4rem 0;
}
.footer {
  width: 80%;
  height: 40vh;
  background-color: #212329;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}
.footer-heading {
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
}
.footer-heading h2 {
  margin-bottom: 2rem;
}

.footer-heading a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer-heading a:hover {
  color: orange;
  transition: 0.3s ease-out;
}
.footer-email-form h2 {
  margin-bottom: 2rem;
}

#footer-email {
  width: 250px;
  height: 40px;
  border-radius: 4px;
  border: none;
  outline: none;
  padding-left: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

#footer-email::placeholder {
  color: #b1b1b1;
}
#footer-email-btn {
  height: 40px;
  width: 100px;
  border-radius: 4px;
  background-color: #f9423d;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1rem;
}

#footer-email-btn:hover {
  background-color: skyblue;
  /* transition: all 0.4s ease-out; */
  transition: 0.3s ease-out;
  cursor: pointer;
}

@media screen and (max-width: 1150px) {
  .footer {
    display: none;
  }
  .footer-email-form {
    margin-top: 4rem;
  }
}
